<div class="hero-unit">
	<h1>Welcome to One Month Rails</h1>
	<p>
		This is the homepage for the
		<%= link_to "One Month Rails", "http://www.onemonthrails.com" %> project.
	</p>
	<p>
		<%= link_to "Sign up now!", "#", class: 'btn btn-primary btn-large' %>
	</p>
</div>
